html {
    height: 100%;
}

body {
    height: 100%;
    font-family: 'Roboto', sans-serif;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 5vw 2vw;
    font-weight: bold;
}

#nav__left {
    font-size: 1.4em;
}

#nav__center ul {
    display: flex;
    list-style: none;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    color: #F0B977;
}

#nav__center li {
    margin: -0.7em 2em;
}

#nav__search {
    /* width: 15px; */
    margin: 5px;
    display: inline;
    /* flex-direction: row; */
}

#nav__search--input {
    display: inline;
    /* width: 12%; */
    /* height: 12%; */
}

#nav__search--button {
    display: inline;
    /* width: 12%; */
    /* height: 12%; */
}

.hide {
    display: none !important;
}

.show {
    display: block !important;
}

#search-icon {
    width: 20px;
    margin-top: -60px;
    cursor: pointer;
}

#nav__right {
    margin-top: 5px;
}

main {
    display: flex;
}

#main__section1 {
    font-family: Playfair Display;
    width: 12%;
    height: 1vw;
    font-size: 4vw;
    display: flex;
    flex-direction: row;
    transform: rotate(270deg);
    margin-right: 2%;
    position: relative;
    top: 35.7vw;
}

#main__section1>img {
    height: 4vw;
    margin: 1vw 1vw;
}

#main__section2 {
    width: 28%;
}

#main__section2 img {
    width: 100%;
    /* position: relative; */
}

#main__section3 {
    width: 46%;
    height: 80%;
}

#main__section3--title {
    width: 46%;
    font-family: Playfair Display;
    margin: 2vw 10vw;
    font-size: 5vw;
}

#main__section3--content {
    margin: 5vw 10vw;
    font-size: 12px;
    line-height: 200%;
    color: #A1A1A1;
}

#main__section4 {
    width: 12%;
    height: 1vw;
    /* border: 1px solid black; */
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 20%;
    transform: rotate(270deg);
    font-weight: bold;
}

#main__section4 div {
    margin: 0 2vw;
}
