img {
    width: 100%;
}

nav {
    margin-bottom: 2vw;
}

#nav__logo,
#nav__menu {
    font-weight: bold;
}

#main__year>hr,
#main__year>p {
    transform: rotate(270deg);
    position: relative;
    top: 80%;
    font-size: 50px;
}

#footer {
    background-color: #000;
    color: white;
    padding: 2.5vw;
}

@media screen and (max-width:565px) {
    #footer-scroll {
        text-align: center;
    }
}

.share {
    height: 1vw;
    display: flex;
    flex-direction: row;
    margin-top: 23vw;
    padding-top: 2vw;
    text-align: right;
    transform: rotate(270deg);
    font-weight: bold;
}

.share div {
    margin: 0 2vw;
}

#main__section1 {
    font-family: Playfair Display;
    width: 50%;
    height: 1vw;
    font-size: 4vw;
    display: flex;
    flex-direction: row;
    transform: rotate(270deg);
    margin-right: 2%;
    position: relative;
    top: 100%;
}

#main__section1>img {
    height: 4vw;
    margin: 1vw 1vw;
}

.title {
    width: 46%;
    font-family: Playfair Display;
    margin: 2vw 10vw;
    font-size: 46px;
}

.content {
    margin: 5vw 10vw;
    font-size: 14px;
    line-height: 200%;
    color: #A1A1A1;
}

#progress>img {
    width: 10%;
}

a {
    text-decoration: none !important;
    color: black;
}

a:hover {
    color: #F0B977;
}

.scroll-angle {
    font-size: 40px;
}

.next,
.prev {
    display: inline;
    cursor: pointer;
}

.next:hover,
.prev:hover {
    color: #F0B977;
}

.show {
    display: block;
    transition: ease-in;
    transform
}

.hide {
    display: none;
    transition: ease-in;
}

@media screen and (min-width:576px) and (max-width:1022px) {
    .vehicle-image>img {
        height: 100%;
        width: 200%;
    }
    .text {
        padding-left: 20%;
    }
    .title,
    .content {
        margin: 5vw;
    }
    .share {
        margin-top: 45vw;
    }
    #classic-car {
        margin-left: -5vw;
    }
}

@media screen and (max-width: 575px) {
    #nav__logo {
        font-size: 7vw;
    }
    nav {
        text-align: center;
        padding-bottom: 10%;
    }
    #main__section1 {
        font-family: Playfair Display;
        text-align: right;
        width: 100%;
        height: 3vh;
        color: #F0B977;
        font-weight: bold;
        font-size: 20vw;
        text-shadow: 1px 1px 2px #000;
        transform: rotate(0deg);
        position: static;
    }
    #main__section1>img {
        display: none;
    }
    .vehicle-image {
        position: static;
    }
    .title {
        font-weight: bold;
    }
    .share {
        font-family: Playfair Display;
        width: 100%;
        height: 10vh;
        transform: rotate(0deg);
        position: static;
        display: flex;
        flex-direction: row;
        margin-top: 0;
        text-align: center;
        font-weight: bold;
    }
    .share div {
        margin: 0 auto;
    }
}
